{% extends 'base.html' %}

{% block content %}
<h2>Meter Readings</h2>
<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for reading in readings %}
        <tr>
            <td>{{ reading.customer.name }}</td>
            <td>{{ reading.reading_date }}</td>
            <td>{{ reading.reading_value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}